body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jua: Jua;
  --font-jomhuria: Jomhuria;

  /* font sizes */
  --font-size-41xl: 60px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
}
